@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#456990,#114B5F);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #08232cb1;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#F45B69;
    text-align: center;
    text-shadow: 1px 1px 2px #aa3f48af;
}
h2{
    color: #6B2737;
}
p{
    text-align: justify;
}